.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pagination span {
  font-size: 0.875rem;
  margin: 0 15px;
}

.Pagination a {
  background-color: #dcdde1;
  padding: 08px;
  transition: color 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  border-radius: .55rem;
  border: 1px solid transparent;
}

.Pagination a:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
