.Col1 {
  width: 8.33333333%;
}

.Col2 {
  width: 16.66666667%;
}

.Col3 {
  width: 25%;
}

.Col4 {
  width: 33.333333%;
}

.Col5 {
  width: 41.66666667%;
}

.Col6 {
  width: 50%;
}

.Col7 {
  width: 58.33333333%;
}

.Col8 {
  width: 66.666667%;
}

.Col9 {
  width: 75%;
}

.Col10 {
  width: 83.33333333%;
}

.Col11 {
  width: 91.66666667%;
}

.Col12 {
  width: 100%;
}
