:root {
  --main-link: #0094FF;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto Light";
  src: url('../fonts/Roboto-Light.ttf');
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: "Roboto Light", sans-serif;
  font-weight: 300;
}

.center, .container {
  margin-left: auto;
  margin-right: auto
}

p {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 75%;
}

.row-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: 100%;
}
