.ContentImageWrapper {
    max-width: 85vw;
    height: 85vh!important;
    max-height: 85vh!important;
    margin: 0 auto;
}

.ContentImage {
    width: 100%;
    height: 100%;
}

@media (max-width: 935px) {
    .ContentImageWrapper {
        height: 75vh!important;
        max-height: 75vh!important;
    }
}

@media (max-width: 780px) {
    .ContentImageWrapper {
        max-width: 100vw;
    }
}

@media (max-width: 620px) {
    .ContentImageWrapper {
        height: 50vh!important;
        max-height: 50vh!important;
    }
}

@media (max-width: 490px) {
    .ContentImageWrapper {
        display: none;
    }
}