.Meta {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

.MetaContent {
    align-items: center;
    display: flex;
    margin: 5px 10px 5px 0px;
}

.MetaContent svg {
    fill: #15db95;
    margin: 0px 5px 0px 0px;
}

.Meta a {
    color: #000000;
    text-decoration: none;
    border: none;
}

.Meta a::first-letter {
    text-transform:capitalize;
}

@media (max-width: 520px) {
    .MetaContent {
        margin: 3px 10px 3px 0px;
    }

    .Author {
        display: none;
    }
}