.Header {
  padding: 35px 25px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .HeaderNavigation {
  display: block;
}

.Header .HeaderTitle a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.Header .HeaderNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .HeaderNav ul li {
  margin: 0 1.5rem;
  text-transform: uppercase;
}

.Header .HeaderNav ul li:last-child {
  margin: 0 0 0 1.25rem;
}

.Header .HeaderNav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.Header .HeaderNav ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.Header .Icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.2s ease;
}

.Header .IconLanguageEn {
  background: url('../../../static/img/icons/en.svg') no-repeat;
}

.Header .IconLanguagePt {
  background: url('../../../static/img/icons/pt.svg') no-repeat;
}

.Header .IconSearch {
  background: url('../../../static/img/icons/search.svg') no-repeat;
}

.Header .IconModeNight {
  background: url('../../../static/img/icons/night.svg') no-repeat;
}

.Header .icon-mode-day {
  background: url('../../../static/img/icons/day.svg') no-repeat;
}
