.HeaderWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px 1.30rem;
}

.Header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .HeaderNavigation {
  display: block;
}

.Header .HeaderTitle {
  font-size: 1.6rem;
}

.Header .HeaderTitle a {
  color: #000000;
  text-decoration: none;
}

.Header .HeaderNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header .HeaderNav ul li {
  margin: 0 1.5rem;
  text-transform: lowercase;
}

.Header .HeaderNav ul li:last-child {
  margin: 0 0 0 1.25rem;
}

.Header .HeaderNav ul li a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  font-size: 1rem;
}

.Header .HeaderNav ul li a:hover {
  color: #000;
  border-color: #e7e7e7;
}

.Header .Icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.2s ease;
}

.Header .IconSearch {
  background: url('../../../static/img/icons/search.svg') no-repeat;
}

.Header .IconModeNight {
  background: url('../../../static/img/icons/night.svg') no-repeat;
}

.Header .icon-mode-day {
  background: url('../../../static/img/icons/day.svg') no-repeat;
}
