.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 160px;
    width: calc(100% - 85px - 85px);
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 780px) {
    .Header {
        width: calc(100% - 20px - 20px);
    }
}

@media (max-width: 412px) {
    .Header {
        display: block;
    }
}