.Hightlight {
  height: 650px;
  width: 100%;
  position: relative;
  color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HightlightNav {
  width: 35vw;
  background-color: #FFF;
  padding: 45px;
  box-sizing: border-box;
  height: 190px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.HightlightInfo {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.HightlightInfo p {
  font-weight: 300;
  font-size: 0.875rem;
  margin-right: 40px;
}

.HightlightCategory {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 40px;
  color: #000;
  text-decoration: none;
}
