.Tags {
  margin-top: 35px;
}

.Tag {
  background: #ced6e0;
  border-radius: 3px 0 0 3px;
  color: #333;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
  border: none;
}

.Tag::before {
  background: #333;
  border-radius: 10px;
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.Tag::after {
  background: #ffffff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ced6e0;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.Tag:hover {
  background-color: #15db95;
  border: none;
}

.Tag:hover::after {
   border-left-color: #15db95; 
}