.NavList {
    display: flex;
}

.NavList li {
    padding: 0 10px 0 10px;
}

.NavList li a {
    border: none;
    font-family: "Nunito", sans-serif;
}

.NavList li a:hover {
    border-bottom: 2px dashed #15db95;
}

@media (max-width: 412px) {
    .NavList {
        background-color: #ced6e0;
        border-radius: 15px;
    }
    
    .NavList li {
        margin: 0;
    }
}